/* ExpComp.css */

.horizontal-gallery {
	display: flex;
	overflow-x: auto;
	margin-top: -2%;
	gap: 50px;
	/* scrollbar-width: none;  */

  }
  
  .horizontal-gallery::-webkit-scrollbar {
	/* display: none; */
  }
  
  .gallery-item {
	flex: 0 0 auto;
	margin-right: 20px;
	/* margin-bottom: 1%; */
	width: 100%;
	padding: 3%;
	padding-top: 5%;
	padding-bottom: 5%;
	/* border: 1px solid #ccc; */
	border-radius: 30px;
	background-color: #b8d8ff;
  }
  
  .listFormat{
	text-align: left;
	/* margin-left: 10%; */
	font-size: 25px;
  }
  #titleFormat{
	text-align: left;
	font-weight: 200px;
  }

  #dateFormat{
	text-align: right;
	margin-top: -6%;
	margin-bottom: 5%;
	font-weight: 200px;
  }

  /* .leftIcon{
	color: rgb(255, 255, 255);
	font-size: 50px;
	font-weight: 600;
  } */