.section-format{
	
	padding:0px;
	border-radius: 20px;
	height: 50%;
	width: 100%;
	margin: 0px;
	color: white;
	width: 100%;
	justify-content: center;
	position: relative;
	/*padding-bottom: 500px;*/
	background-color: rgba(53, 151, 196, 0.57);
	transition: transform 0.3s ease;
	padding-bottom: 1.5%;
	margin-bottom: 1%;
	
}

  .section-format:hover {
	transform: scale(1.05); /* Increase size by 5% on hover */
  }

  h4{
	/* margin-left: -80%; */
	padding-top: 2%;
	font-family: 'Albert Sans', sans-serif;
	font-weight: 600; /* Bold for headings */
	font-size: 45px;
	letter-spacing: 1px;
  }
  
  #hi{
	margin-left: 3%;
	margin-top: -3%;
	text-align: left;
  }

  #bodyID{
	font-size: 25px;
	padding-left: 1%;
	padding-right: 1%;
	text-align: left;
	margin-left: 2%;


	/* margin-left: .1%; */
  }

  .formatScroll{
	display: flex;
	flex-direction: column;
	padding-left:5%;
	padding-right:5%;
	color: black;
  }

  .projects{
	display: flex; 
	flex-direction:column;
	gap: 40px;
	padding-left: 10%;
	padding-right: 10%;

  }
  .proj{
	padding-left: 10%;
	padding-right: 10%;
	background: white;
	color: black;
  }

  .photo-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 20px;
	padding: 7px;
	margin: 5%;
	padding-bottom: -15%;
  }
  
  .photo-grid-item {
	overflow: hidden;
	align-self: top;
	border-bottom: 40px;;
	/* border-radius: 8px; */
  }
  
  .photo-grid-item img {
	width: 100%;
	height: auto;
	display: block;
  }