body {
  margin: 0;
  font-family: 'Albert Sans', sans-serif;
  font-weight: 300; /* Bold for headings */
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family:  'Albert Sans', sans-serif;
  font-size: 40px;
  font-weight: 400; /* Bold for headings */
}

h2{
  font-family: 'Albert Sans', sans-serif;
  font-weight: 400; /* Bold for headings */
  font-size: 20px;
  padding: 0px;
  align-self: center;
  margin: 10px;
}

h3{
  font-family: 'Albert Sans', sans-serif;
  font-weight: 600; /* Bold for headings */
  font-size: 30px;
  letter-spacing: 2px; /* Increase space between letters */
}